/*body{
    height: 3500px;
}*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #02073E;
    font-family: "B612", sans-serif;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #02073E;
    font-family: "B612", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

h3 {
    font-family: "DM Sans", sans-serif;
    color: #0F2137;
}

.h1_description {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: #02073E;
    font-size: 18px;
    padding-bottom: 30px;

}

header {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 5;

}
nav {
    display: flex;
    justify-content: space-evenly;

}

.logo{
    width: 30%;
    height:100%;
    vertical-align: middle;
}
.logo_text {
    color: #02073E;
    font-family: "DM Sans", sans-serif;
}
.menu {
    display: flex;
    color: #02073E;
    font-family: "DM Sans", sans-serif;
    gap: 1rem;
    font-size: 16px;
    padding-top: 7px;
}
.right-nav{
    display: block;
    gap: 1rem;
    font-size: 16px;
    padding-top: 7px;
    font-family: "DM Sans", sans-serif;
}
#get_started {
    position: relative;
    color: #0A8080;
    padding-left: 10px;
}
.underline img{
    position: absolute;
    width: 100px;
    padding-left: 50px;
}
.mobile-nav{
    padding-top: 10px;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}
@media (max-width: 1000px) {
    .contact-form{
        width: 50% !important;
    }
}
@media (min-width: 701px) {
    .mobile-nav{
        display: none;
    }
}
@media (max-width: 700px) {
    .menu{
        display: none;
    }
    .right-nav{
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
    .get_started_button {
        height: 39px;
    }
    h1{
        font-size: 1.7rem;
    }
    .middle h2{
        font-size: 1.2rem;
    }
    .subscribe-h2{
        font-size: 1.2rem;
    }
    .subscribe-background {
        background-image: url("./images/submobile.png") !important;
        background-size: cover;
    }
    .contact-form{
        width: 70% !important;
    }
}
@media (max-width: 608px) {
    .contact-form{
        width: 80% !important;
    }
}
@media (max-width: 465px) {
    .contact-form{
        width: 90% !important;
    }
}

.mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu ul {
    padding: 20px;
    color: #02073E;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

.mobile-menu li {
    margin: 50px;
}

.mobile-menu-active {
    right: 0;
}

.get_started_button {
    display: block;
    width: 160px;
    margin: 40px auto;
    background: #0A8080;
    font-family: "DM Sans", sans-serif;
    padding: 10px 39px;
    color: white;
    border: none;
    border-radius: 9px;
    height: 50px;
}

form{
    width: 50%;
    margin: 0 auto;
}

.contact-form {
    background-color: #0A8080;
    border-radius: 20%;
    padding: 60px 100px;
    width: 33%;
    height: 5%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.contact-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    background-color: #FBFCFD;
}

.contact-form textarea {
    background-color: #FBFCFD;
    height: 100px;
}

.contact-form button {
    background-color: #FBFCFD;
    color: black;
    cursor: pointer;
}

.error{
    display: none;
    color: red;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 3px;
}

.Cbackground{
    background-color: #FFCBA1;
    padding: 50px 0;
}

.faq-background{
    background-color: #F8F0EA;
    padding-bottom: 1px;
}
.faq-section {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
}

.faq-content {
    display: none;
    padding: 10px 20px;
    border: 1px solid #e3e3e3;
    border-top: none;
    color: #555;
    border-radius: 0 0 8px 8px;
    background-color: #F8F0EA;
}

.faq-item {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;

}

.faq-toggle {
    cursor: pointer;
    padding: 15px 20px;
    background-color: #fff;
    font-weight: bold;
    text-align: left;
    border: none;
    transition: background-color 0.3s;
    color: #333;
    border-radius: 8px 8px 0 0;
    display: block;
}

.faq-toggle:hover {
    background-color: #f2f2f2;
}

.faq-toggle.active .faq-content {
    display: block;
}


.subscribe-background {
    background-color: #F8F0EA;
    background-image: url("./images/sub.png");
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.white-background {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
}
.subscribe-h2{
    padding-top: unset;
    text-align: unset;
}
.subscribe-background div p {
    font-family: "DM Sans", sans-serif;
    color: #343D48;
    font-weight: normal;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.subscribe-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #D4DAE2;
    border-radius: 5px;
}

.subscribe-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #DB4A87;
    color: white;
    cursor: pointer;
}

label {
    font-family: "DM Sans", sans-serif;
    color: #9095AD;
    font-weight: normal;
    font-size: 14px;
}
footer {
    background-color: white;
    font-family: "DM Sans", sans-serif;
    padding-top: 60px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section h4 {
    color: #0F2137;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 28px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    padding-bottom: 20px;
    color: #02073E;
    font-size: 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-logo {
    height: 50px;
    vertical-align: middle;
}
