/*body{
    height: 3500px;
}*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #02073E;
    font-family: "B612", sans-serif;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #02073E;
    font-family: "B612", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;

}

h3 {
    font-family: "DM Sans", sans-serif;
    color: #0F2137;
}

.h1_description {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: #02073E;
    font-size: 18px;
    padding-bottom: 30px;

}

header {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 5;

}
nav {
    display: flex;
    justify-content: space-evenly;

}

.logo{
    width: 30%;
    height:100%;
    vertical-align: middle;
}
.logo_text {
    color: #02073E;
    font-family: "DM Sans", sans-serif;
}
.menu {
    display: flex;
    color: #02073E;
    font-family: "DM Sans", sans-serif;
    gap: 1rem;
    font-size: 16px;
    padding-top: 7px;
}
.right-nav{
    display: block;
    gap: 1rem;
    font-size: 16px;
    padding-top: 7px;
    font-family: "DM Sans", sans-serif;
}
#get_started {
    position: relative;
    color: #0A8080;
    padding-left: 10px;
}
.underline img{
    position: absolute;
    width: 100px;
    padding-left: 50px;
}
.mobile-nav{
    padding-top: 10px;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}
@media (min-width: 701px) {
    .mobile-nav{
        display: none;
    }
}
@media (max-width: 700px) {
    .menu{
        display: none;
    }
    .right-nav{
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
    .background .get_started_button {
        height: 40px;
    }
    h1{
        font-size: 1.7rem;
    }
    .middle h2{
        font-size: 1.2rem;
    }
    .subscribe-h2{
        font-size: 1.2rem;
    }
    .subscribe-background {
        background-image: url("./images/submobile.png") !important;
        background-size: cover;
    }
}

.mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu ul {
    padding: 20px;
    color: #02073E;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

.mobile-menu li {
    margin: 50px;
}

.mobile-menu-active {
    right: 0;
}

.get_started_button {
    display: block;
    width: 160px;
    margin: auto;
    background: #0A8080;
    font-family: "DM Sans", sans-serif;
    padding: 10px 39px;
    color: white;
    border: none;
    border-radius: 8px;
    height: 50px;
}

.background {
    background-color: #FFF5ED;
    padding-top: 50px;
}
.image_position {
    width:80%;
    display: block;
    margin: auto;
}
.background_description {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: #0F2137;
    font-size: 16px;
    padding-bottom: 50px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: #343D48;
}

.services_dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-family: "DM Sans", sans-serif;
}

.questions {
    display: flex;
    gap: 2rem;
    list-style: none;
    color: #343D48;
    font-weight: bold;
    text-align: center;
    justify-content: space-evenly;
    font-family: "DM Sans", sans-serif;
    padding-top: 100px;
}

.back-line {
    position: absolute;
    background-color: #01070D;
    width: 90%;
    height: 1px;
    z-index: 1;
    left: 5%;
    border-radius: 5px;
    opacity: 0.1;
}

.front-line {
    position: relative;
    top: -1px;
    left: 9%;
    background-color: #A17857;
    width: 20%;
    height: 3px;
    z-index: 2;
    border-radius: 5px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;

}
.h2-middle{
    text-align: start;
    padding-bottom: 50px;
}

.middle_p {
    font-family: "DM Sans", sans-serif;
    color: #02073E;
    font-size: 17px;
    line-height: 40px;
    padding-bottom: 30px;
}
.green_mark_text {
    display: flex;
    gap: 2rem;
    font-family: "DM Sans", sans-serif;
    color: #02073E;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}

.green_mark_text ul li {
    list-style-image: url("./images/green_mark.png");
}

.green_mark_text ul li:last-child {
    margin-top: 40px;
}
.illustration{
    width: 80%;
    padding-top: 180px
}
.explore_more {
    text-decoration: none;
    color: #3183FF;
    font-weight: normal;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    padding-left: 50px;
}

@media (max-width: 1090px) {
    .illustration{
        padding: 5%;
    }
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 80px;
    margin-top: 70px;

}

.subscribe-background {
    background-color: #F8F0EA;
    background-image: url("./images/sub.png");
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.white-background {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
}
.subscribe-h2{
    padding-top: unset;
    text-align: unset;
}
.subscribe-background div p {
    font-family: "DM Sans", sans-serif;
    color: #343D48;
    font-weight: normal;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.subscribe-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #D4DAE2;
    border-radius: 5px;
}

.subscribe-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #DB4A87;
    color: white;
    cursor: pointer;
}

label {
    font-family: "DM Sans", sans-serif;
    color: #9095AD;
    font-weight: normal;
    font-size: 14px;
}
footer {
    background-color: white;
    font-family: "DM Sans", sans-serif;
    padding-top: 60px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section h4 {
    color: #0F2137;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 28px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    padding-bottom: 20px;
    color: #02073E;
    font-size: 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-logo {
    height: 50px;
    vertical-align: middle;
}
